{% extends "layout.html.twig" %}

{% block head %}
    <style>
        .form-group {
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-default no-border">
        <div class="panel-heading panel-masthead center border"><h1>Administrative Functions</h1></div>

        {#Add User Panel#}
        <div class="panel panel-default">
            <!-- Form Name -->
            <div class="panel-heading"><h2>Add User</h2></div>
            <form class="form-horizontal" method="post" action="{{ action | raw }}">
                <fieldset>

                    <!-- Select Basic -->
                    <p></p>
                    <div class="form-group">
                        <label class="col-xs-4 control-label col-xs-offset-1" for="userName">Add User
                        </label>
                        <div class="col-xs-6">
                            <input id="userName" type="text" name="userName" placeholder="User Name"
                                   class="form-control input-md">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-xs-4 control-label col-xs-offset-1" for="newPassword">Enter New
                            Password</label>
                        <div class="col-xs-6">
                            <input id="newPassword" name="newPassword" type="text" placeholder="Password"
                                   class="form-control input-md">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-xs-12 text-right">
                            <button id="btnAddUser" name="btnAddUser" class="btn btn-primary btn-sm center">Add User
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if (messageStyleAdd != null) %}
                            <p class="center" style={{ messageStyleAdd }}> {{ messageAdd | raw }}</p>
                        {% endif %}
                    </div>

                </fieldset>
            </form>
        </div>

        {#Update User Password#}
        <div class="panel panel-default">
            <!-- Form Name -->
            <div class="panel-heading"><h2>Update User Password</h2></div>
            <form class="form-horizontal" method="post" action="{{ action | raw }}">
                <fieldset>

                    <!-- Select Basic -->
                    <p></p>
                    <div class="form-group">
                        <label class="col-xs-4 control-label col-xs-offset-1" for="selectAssignor">Select
                            Assignor</label>
                        <div class="col-xs-6">
                            <select id="selectAssignor" name="selectAssignor" class="form-control">
                                {% for user in users %}
                                    <option>{{ user }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-xs-4 control-label col-xs-offset-1" for="passwordInput">Enter New
                            Password</label>
                        <div class="col-xs-6">
                            <input id="passwordInput" name="passwordInput" type="text" placeholder="New password"
                                   class="form-control input-md">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-xs-12 text-right">
                            <button id="btnUpdate" name="btnUpdate" class="btn btn-primary btn-sm center">Update
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if (messageStyleUpdate != null) %}
                            <p class="center" style={{ messageStyleUpdate }}> {{ messageUpdate | raw }}</p>
                        {% endif %}
                    </div>

                </fieldset>
            </form>
        </div>

        {#Log Functions#}
        <div class="panel panel-default">
            <!-- Form Name -->
            <div class="panel-heading"><h2>Log Functions</h2></div>

            <!-- Action -->
            <div class="form-group">
                <form class="form-horizontal" method="post" action="{{ action | raw }}">
                    <fieldset>
                        <label class="col-xs-4 control-label col-xs-offset-1" for="logNote">Log Note</label>
                        <div class="col-xs-7">
                            <input style="width: 100%" id="logNote" name="logNote" type="text" placeholder="Log note"
                                   class="form-control input-md">
                        </div>
                        <div class="text-right" style="margin-top: -4px;">
                            <button id="btnLogItem" name="btnLogItem" class="btn btn-primary btn-sm ">Add to Log
                            </button>
                        </div>
                        <div class="col-xs-12 text-right">
                            <button id="btnExportLog" name="btnExportLog" class="btn btn-primary btn-sm center">
                                Export Access Log
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

    <!-- Button -->
    <div class="panel panel-default no-border">
        <div class="form-group">
            <form class="form-horizontal" method="post" action="{{ action | raw }}">
                <fieldset>
                    <label class="col-xs-4 control-label" for="butUpdate"></label>
                    <div class="col-xs-8">
                        <button id="btnDone" name="btnDone" class="btn btn-inverse right">Done</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
